<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <meta name="description" content="POS - Bootstrap Admin Template" />
    <meta
      name="keywords"
      content="admin, estimates, bootstrap, business, corporate, creative, invoice, html5, responsive, Projects"
    />
    <meta name="author" content="Dreamguys - Bootstrap Admin Template" />
    <meta name="robots" content="noindex, nofollow" />
    <title>The Elegant Adobe - Home Decor</title>

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/images/favicon.png"
    />

    <link rel="stylesheet" href="/admin-assets/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/admin-assets/css/bootstrap-datetimepicker.min.css" />

    <link rel="stylesheet" href="/admin-assets/css/animate.css" />

    <link rel="stylesheet" href="/admin-assets/plugins/select2/css/select2.min.css" />

    <link rel="stylesheet" href="/admin-assets/css/dataTables.bootstrap4.min.css" />

    <link
      rel="stylesheet"
      href="/admin-assets/plugins/fontawesome/css/fontawesome.min.css"
    />
    <link rel="stylesheet" href="/admin-assets/plugins/fontawesome/css/all.min.css" />

    <link rel="stylesheet" href="/admin-assets/css/style.css" />
    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/admin-assets/css/logo.css" />



  </head>
  <body>
    <div class="main-wrapper">
      <div class="header">
        <div class="header-left active">
          <a href="/admin/dashboard" class="logo">
                    <%- include('../../views/partials/icons/icon-logo') %>
                </a>
        </div>

        <a id="mobile_btn" class="mobile_btn" href="#sidebar">
          <span class="bar-icon">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </a>

        <div class="dropdown mobile-user-menu">
          <a
            href="javascript:void(0);"
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><i class="fa fa-ellipsis-v"></i
          ></a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="profile.html">My Profile</a>
            <a class="dropdown-item" href="generalsettings.html">Settings</a>
            <a class="dropdown-item" href="signin.html">Logout</a>
          </div>
        </div>
      </div>

      <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
          <div id="sidebar-menu" class="sidebar-menu">
            <ul>
              <li class="">
                <a href="/admin/dashboard"><span> Dashboard</span> </a>
              </li>

              <li class="">
                <a href="/admin/users"><span> Users</span> </a>
              </li>

              <li class="">
                <a href="/admin/productList"><span> Products</span> </a>
              </li>
              <li class="">
                <a href="/admin/category"><span> Category</span> </a>
              </li>
              <li class="">
                <a href="/admin/orderList"><span> Orders</span> </a>
              </li>
              <li class="active">
                <a href="/admin/coupon"><span> Coupon</span> </a>
              </li>
              <li class="">
                <a href="/admin/offer"><span> Offer</span> </a>
              </li>
              <li class="">
                <a href="/admin/salesReport"><span> Sales Report</span> </a>
              </li>
              <li class="">
                <a
                  onclick="message(successMessage= 'Logout Successfully')"
                  href="/admin/logout"
                  ><span> Logout</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="page-wrapper">
        <div class="content">
          <div class="page-header">
            <div class="page-title">
              <h4>Create Coupon</h4>
              <h6>Add New Coupon</h6>
            </div>
          </div>
          <div class="card">
                
            <div class="card-body">
                <form id="couponForm" action="/admin/coupon/add-coupon" method="POST" novalidate>
              <div class="row">
                <div class="col-lg-3 col-sm-6 col-12">
                  <div class="form-group">
                    <label>Coupon Name</label>
                    <input type="text" name="name" class="form-control"  />
                    <small class="text-danger" id="name-error"></small>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                  <div class="form-group">
                    <label>Coupon Code</label>
                    <input type="text" name="code" class="form-control" />
                    <small class="text-danger" id="code-error"></small>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                  <div class="form-group">
                    <label>Expires on</label>
                    <div class="input-groupicon">
                      <input
                        id="expiresOnPicker"
                        type="text"
                        placeholder="DD-MM-YYYY"
                        class="datetimepicker form-control"
                        name="expiresOn"  
                      />
                      
                    </div>
                    <small class="text-danger" id="expiresOn-error"></small>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-sm-6 col-12">
                  <div class="form-group">
                    <label>Discount type</label>
                    <div class="row">
                      <div class="col-lg-10 col-sm-10 col-10">
                        <select class="select form-control" name="discountType" >
                            <option value="">Select</option>
                          <option value="percentage" >Percentage</option>
                          <option value="flat" >Flat</option>
                        </select>
                        <small class="text-danger" id="discountType-error"></small>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-12">
                  <div class="form-group">
                    <label>Discount Amount</label>
                    <input type="number" name="discountAmount" class="form-control"  min="500" max="3000"/>
                    <small class="text-danger" id="discountAmount-error"></small>
                  </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-12">
                  <div class="form-group">
                    <label>Usage Limit</label>
                    <input type="number" name="usageLimit" class="form-control"  />
                    <small class="text-danger" id="usageLimit-error"></small>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-sm-6 col-12">
                  <div class="form-group">
                    <label>Minimum Purchase Amount</label>
                    <input type="number" name="minPurchaseAmount" class="form-control"  />
                    <small class="text-danger" id="minPurchaseAmount-error"></small>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <button type="submit" class="btn btn-submit me-2">Submit</button>
                  <a href="/admin/coupon" class="btn btn-cancel"
                    >Cancel</a
                  >
                </div>
              </div>
             </form>

            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/admin-assets/js/jquery-3.6.0.min.js"></script>

    <script src="/admin-assets/js/feather.min.js"></script>

    <script src="/admin-assets/js/jquery.slimscroll.min.js"></script>

    <script src="/admin-assets/js/jquery.dataTables.min.js"></script>
    <script src="/admin-assets/js/dataTables.bootstrap4.min.js"></script>

    <script src="/admin-assets/js/bootstrap.bundle.min.js"></script>

    <script src="/admin-assets/plugins/select2/js/select2.min.js"></script>

    <script src="/admin-assets/js/moment.min.js"></script>
    <script src="/admin-assets/js/bootstrap-datetimepicker.min.js"></script>

    <script src="/admin-assets/plugins/sweetalert/sweetalert2.all.min.js"></script>
    <script src="/admin-assets/plugins/sweetalert/sweetalerts.min.js"></script>

    <script src="/admin-assets/js/script.js"></script>

    <!-- Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
    flatpickr("#expiresOnPicker", {
        dateFormat: "d-m-Y",
        minDate: "today"
    });
    </script>
    <script>
          function message(msg){
            if(msg){
                  Swal.fire({
                    position: "center",
                    icon: "success",
                    title: msg,
                    showConfirmButton: false,
                    timer: 3000
                  }).then(() =>{
                    window.location.href = "/admin";
                  })
            }
          }

    </script>
    <script>
        document.querySelector('#couponForm').addEventListener('submit', async function (e) {
            e.preventDefault();      // Prevent default form submission

            const rules = [
                {name: 'name', regex: /^[a-zA-Z0-9₹\s]{3,30}$/, message: 'Name must be 3-30 letters only'},
                {name: 'code', regex: /^[A-Z0-9_-]{3,10}$/, message: 'Code must be characters (A-Z, 0-9, _, -)'},
                {name: 'discountAmount', regex: /^\d+(\.\d{1,2})?$/, message: 'Discount must be a number (1-999)'},
                {name: 'usageLimit', regex: /^\d{1,3}$/, message: 'Usage limit must be a positive number'},
                {name: 'minPurchaseAmount', regex: /^\d+(\.\d{1,2})?$/, message: 'Minimum purchase amount must be a number'},
                {name: 'expiresOn', regex: /^\d{2}-\d{2}-\d{4}$/, message: 'Enter a valid expiry date (DD-MM-YYYY)'}
        ];

         const form = this;
         const formData = new FormData(form);
         const data = Object.fromEntries(formData.entries());
    
         //clear previous error messages
         rules.forEach(rule =>{
            const errorField = document.getElementById(`${rule.name}-error`);
            if(errorField) errorField.innerText = '';
         });


         let isValid = true;

        // frontend validation
        rules.forEach(rule => {
            const input = form.elements[rule.name];
            const errorField = document.getElementById(`${rule.name}-error`);
            if(!rule.regex.test(input?.value.trim())) {
                isValid = false;
                if(errorField) errorField.innerText = rule.message;
            }
        });

        const discountType = form.elements["discountType"].value;
        const minPurchaseAmount = parseFloat(data.minPurchaseAmount);
        const discountAmount = parseFloat(data.discountAmount);
        const usageLimit = parseFloat(data.usageLimit);
        const expiresOn = data.expiresOn;

        if(discountAmount <= 0) {
          isValid = false;
          const discountAmountError = document.getElementById('discountAmount-error');
          discountAmountError.innerText = "Discount Amount should not be negative";
        }

        if(minPurchaseAmount <= 0) {
          isValid = false
          const minPurchaseAmountError = document.getElementById('minPurchaseAmount-error');
          minPurchaseAmountError.innerText = "Minimum purchase amount should be greater than zero"
        }

        if(usageLimit <= 0) {
          isValid = false;
          const usageLimitError = document.getElementById('usageLimit-error');
          usageLimitError.innerText = "Usage should'nt be a negative number";
        }

        const MAX_FLAT_DISCOUNT_PERCENT = 50; 
        const MAX_PERCENTAGE_DISCOUNT = 50;

        if(discountType === "flat") {
          if(discountAmount >= minPurchaseAmount){
          isValid = false;
          
              const minPurchaseError = document.getElementById('minPurchaseAmount-error');
              if(minPurchaseError) {
                minPurchaseError.innerText = "Minimum Purchase amount should be greater than or equal to discount";
              }

              Swal.fire("Validation Error",
                        "Minimum purchase amount cannot be less than discount amount",
                        "warning"
              );

              return;
          }

          const maxAllowedDiscount = (minPurchaseAmount * MAX_FLAT_DISCOUNT_PERCENT) / 100;

          if(discountAmount > maxAllowedDiscount) {
            isValid = false;

            if(minPurchaseError) {
              minPurchaseError.innerText = `Flat discount cannot exceed ${MAX_FLAT_DISCOUNT_PERCENT}% of minimum purchase amount`;
            }

              return
          }
        } else if(discountType === 'percentage') {
          if(discountAmount > MAX_PERCENTAGE_DISCOUNT) {
            isValid = false;
            discountAmountError.innerText = `Discount amount should not exceed ${MAX_PERCENTAGE_DISCOUNT}%`;
          }
        }

        // date validation
        if(expiresOn){
            const [day, month, year] = expiresOn.split("-");
            const expiryDate = new Date(year, month - 1, day);

           const today = new Date();
           today.setHours(0,0,0,0);

          if(isNaN(expiryDate.getTime()) || expiryDate <= today) {
            isValid = false;
            document.getElementById('expiresOn-error').innerText = 'expiry date must be a valid future date';
          }
        }
       




         if(!isValid) {
            Swal.fire('Validation Error', 'Please correct the highlighted fields.', 'warning');
            return;
         }

        try {
            
             const res = await fetch(form.action, {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json'
              },
                body: JSON.stringify(data)
             });

             const result = await res.json();

             if(res.ok && result.success) {
                Swal.fire({
                  title: 'Success',
                  text: 'Coupon added successfully.',
                  icon: 'success',
                  confirmButtonText: 'Go to Coupon List'
              }).then(() => {
                  window.location.href = '/admin/coupon'; //  Redirect to coupon list page
               });
            } else if (result.errors){

                //Backend error display
                Object.entries(result.errors).forEach(([field, message]) => {
                    const errorField = document.getElementById(`${field}-error`);
                    if(errorField) errorField.innerText = message;
                });
                Swal.fire('Submission Failed', 'Please fix the errors and try again.', 'error');

            } else {
                Swal.fire('Failed', result.message || 'Unknown error occurred.', 'error');
            }

        } catch (error) {
            console.error(error);
            Swal.fire('Server Error', 'Please try again later.', 'error');
            
        }
     });
    </script>

  </body>
</html>
