<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <meta name="description" content="POS - Bootstrap Admin Template" />
    <meta
      name="keywords"
      content="admin, estimates, bootstrap, business, corporate, creative, invoice, html5, responsive, Projects"
    />
    <meta name="author" content="Dreamguys - Bootstrap Admin Template" />
    <meta name="robots" content="noindex, nofollow" />
    <title>Dreams Pos admin template</title>

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/admin-assets/img/favicon.jpg"
    />

    <link rel="stylesheet" href="/admin-assets/css/bootstrap.min.css" />

    <link
      rel="stylesheet"
      href="/admin-assets/css/bootstrap-datetimepicker.min.css"
    />

    <link rel="stylesheet" href="/admin-assets/css/animate.css" />

    <link
      rel="stylesheet"
      href="/admin-assets/plugins/select2/css/select2.min.css"
    />

    <link
      rel="stylesheet"
      href="/admin-assets/css/dataTables.bootstrap4.min.css"
    />

    <link
      rel="stylesheet"
      href="/admin-assets/plugins/fontawesome/css/fontawesome.min.css"
    />
    <link
      rel="stylesheet"
      href="/admin-assets/plugins/fontawesome/css/all.min.css"
    />

    <link rel="stylesheet" href="/admin-assets/css/style.css" />

    <link rel="stylesheet" href="/admin-assets/css/salesReport.css" />
    <link rel="stylesheet" href="/admin-assets/css/logo.css" />

  </head>
  <body>
    <div id="global-loader">
      <div class="whirly-loader"></div>
    </div>

    <div class="main-wrapper">
      <div class="header">
        <div class="header-left active">
          <a href="/admin/dashboard" class="logo">
              <%- include('../../views/partials/icons/icon-logo') %>
          </a>
        </div>

        <a id="mobile_btn" class="mobile_btn" href="#sidebar">
          <span class="bar-icon">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </a>

        <ul class="nav user-menu">
          <li class="nav-item">
            <div class="top-nav-search">
              <a href="javascript:void(0);" class="responsive-search">
                <i class="fa fa-search"></i>
              </a>
              <form action="#">
                <div class="searchinputs">
                  <input type="text" placeholder="Search Here ..." />
                  <div class="search-addon">
                    <span
                      ><img src="/admin-assets/img/icons/closes.svg" alt="img"
                    /></span>
                  </div>
                </div>
                <a class="btn" id="searchdiv"
                  ><img src="/admin-assets/img/icons/search.svg" alt="img"
                /></a>
              </form>
            </div>
          </li>

          <li class="nav-item dropdown has-arrow flag-nav">
            <a
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              href="javascript:void(0);"
              role="button"
            >
              <img src="/admin-assets/img/flags/us1.png" alt="" height="20" />
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="javascript:void(0);" class="dropdown-item">
                <img src="/admin-assets/img/flags/us.png" alt="" height="16" />
                English
              </a>
              <a href="javascript:void(0);" class="dropdown-item">
                <img src="/admin-assets/img/flags/fr.png" alt="" height="16" />
                French
              </a>
              <a href="javascript:void(0);" class="dropdown-item">
                <img src="/admin-assets/img/flags/es.png" alt="" height="16" />
                Spanish
              </a>
              <a href="javascript:void(0);" class="dropdown-item">
                <img src="/admin-assets/img/flags/de.png" alt="" height="16" />
                German
              </a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a
              href="javascript:void(0);"
              class="dropdown-toggle nav-link"
              data-bs-toggle="dropdown"
            >
              <img
                src="/admin-assets/img/icons/notification-bing.svg"
                alt="img"
              />
              <span class="badge rounded-pill">4</span>
            </a>
            <div class="dropdown-menu notifications">
              <div class="topnav-dropdown-header">
                <span class="notification-title">Notifications</span>
                <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
              </div>
              <div class="noti-content">
                <ul class="notification-list">
                  <li class="notification-message">
                    <a href="activities.html">
                      <div class="media d-flex">
                        <span class="avatar flex-shrink-0">
                          <img
                            alt=""
                            src="/admin-assets/img/profiles/avatar-02.jpg"
                          />
                        </span>
                        <div class="media-body flex-grow-1">
                          <p class="noti-details">
                            <span class="noti-title">John Doe</span> added new
                            task
                            <span class="noti-title"
                              >Patient appointment booking</span
                            >
                          </p>
                          <p class="noti-time">
                            <span class="notification-time">4 mins ago</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="notification-message">
                    <a href="activities.html">
                      <div class="media d-flex">
                        <span class="avatar flex-shrink-0">
                          <img
                            alt=""
                            src="/admin-assets/img/profiles/avatar-03.jpg"
                          />
                        </span>
                        <div class="media-body flex-grow-1">
                          <p class="noti-details">
                            <span class="noti-title">Tarah Shropshire</span>
                            changed the task name
                            <span class="noti-title"
                              >Appointment booking with payment gateway</span
                            >
                          </p>
                          <p class="noti-time">
                            <span class="notification-time">6 mins ago</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="notification-message">
                    <a href="activities.html">
                      <div class="media d-flex">
                        <span class="avatar flex-shrink-0">
                          <img
                            alt=""
                            src="/admin-assets/img/profiles/avatar-06.jpg"
                          />
                        </span>
                        <div class="media-body flex-grow-1">
                          <p class="noti-details">
                            <span class="noti-title">Misty Tison</span> added
                            <span class="noti-title">Domenic Houston</span> and
                            <span class="noti-title">Claire Mapes</span> to
                            project
                            <span class="noti-title"
                              >Doctor available module</span
                            >
                          </p>
                          <p class="noti-time">
                            <span class="notification-time">8 mins ago</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="notification-message">
                    <a href="activities.html">
                      <div class="media d-flex">
                        <span class="avatar flex-shrink-0">
                          <img
                            alt=""
                            src="/admin-assets/img/profiles/avatar-17.jpg"
                          />
                        </span>
                        <div class="media-body flex-grow-1">
                          <p class="noti-details">
                            <span class="noti-title">Rolland Webber</span>
                            completed task
                            <span class="noti-title"
                              >Patient and Doctor video conferencing</span
                            >
                          </p>
                          <p class="noti-time">
                            <span class="notification-time">12 mins ago</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="notification-message">
                    <a href="activities.html">
                      <div class="media d-flex">
                        <span class="avatar flex-shrink-0">
                          <img
                            alt=""
                            src="/admin-assets/img/profiles/avatar-13.jpg"
                          />
                        </span>
                        <div class="media-body flex-grow-1">
                          <p class="noti-details">
                            <span class="noti-title">Bernardo Galaviz</span>
                            added new task
                            <span class="noti-title">Private chat module</span>
                          </p>
                          <p class="noti-time">
                            <span class="notification-time">2 days ago</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="topnav-dropdown-footer">
                <a href="activities.html">View all Notifications</a>
              </div>
            </div>
          </li>

          <li class="nav-item dropdown has-arrow main-drop">
            <a
              href="javascript:void(0);"
              class="dropdown-toggle nav-link userset"
              data-bs-toggle="dropdown"
            >
              <span class="user-img"
                ><img src="/admin-assets/img/profiles/avator1.jpg" alt="" />
                <span class="status online"></span
              ></span>
            </a>
            <div class="dropdown-menu menu-drop-user">
              <div class="profilename">
                <div class="profileset">
                  <span class="user-img"
                    ><img src="/admin-assets/img/profiles/avator1.jpg" alt="" />
                    <span class="status online"></span
                  ></span>
                  <div class="profilesets">
                    <h6>John Doe</h6>
                    <h5>Admin</h5>
                  </div>
                </div>
                <hr class="m-0" />
                <a class="dropdown-item" href="profile.html">
                  <i class="me-2" data-feather="user"></i> My Profile</a
                >
                <a class="dropdown-item" href="generalsettings.html"
                  ><i class="me-2" data-feather="settings"></i>Settings</a
                >
                <hr class="m-0" />
                <a class="dropdown-item logout pb-0" href="signin.html"
                  ><img
                    src="/admin-assets/img/icons/log-out.svg"
                    class="me-2"
                    alt="img"
                  />Logout</a
                >
              </div>
            </div>
          </li>
        </ul>

        <div class="dropdown mobile-user-menu">
          <a
            href="javascript:void(0);"
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><i class="fa fa-ellipsis-v"></i
          ></a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="profile.html">My Profile</a>
            <a class="dropdown-item" href="generalsettings.html">Settings</a>
            <a class="dropdown-item" href="signin.html">Logout</a>
          </div>
        </div>
      </div>

      <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
          <div id="sidebar-menu" class="sidebar-menu">
            <ul>
              <li >
                <a href="/admin/dashboard"><span> Dashboard</span> </a>
              </li>

              <li class="">
                <a href="/admin/users"><span> Users</span> </a>
              </li>

              <li class="">
                <a href="/admin/productList"><span> Products</span> </a>
              </li>
              <li class="">
                <a href="/admin/category"><span> Category</span> </a>
              </li>
              <li class="">
                <a href="/admin/orderList"><span> Orders</span> </a>
              </li>
              <li class="">
                <a href="/admin/coupon"><span> Coupon</span> </a>
              </li>
              <li class="">
                <a href="/admin/offer"><span> Offer</span> </a>
              </li>
              <li class="active">
                <a href="/admin/salesReport"><span> Sales Report </span> </a>
              </li>
              <li class="">
                <a onclick="message(successMessage= 'Logout Successfully')" href ="/admin/logout"><span> Logout</span> </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="page-wrapper">
        <div class="content">
          <div class="page-header">
            <div class="page-title">
              <h4>Create Sales Report</h4>
              <h6>Create, View and Update Reports</h6>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-3 col-sm-6 col-12">
                  <div class="form-group">
                    <label>Report Type</label>
                    <div class="row">
                      <div class="col-lg-10 col-sm-10 col-10">
                        <select id="reportType" class="select form-group">
                          
                          <option value="daily">Daily</option>
                          <option value="weekly">Weekly</option>
                          <option value="monthly">Monthly</option>
                          <option value="custom">Custom</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                  <div class="form-group">
                    <label>Start Date</label>
                    <div class="input-groupicon">
                      <input
                        type="text"
                        placeholder="DD-MM-YYYY"
                        class="datetimepicker"
                        id="startDate"
                      />
                      <div class="addonset">
                        <img
                          src="/admin-assets/img/icons/calendars.svg"
                          alt="img"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                  <div class="form-group">
                    <label>End Date</label>
                    <div class="input-groupicon">
                      <input
                        type="text"
                        placeholder="DD-MM-YYYY"
                        class="datetimepicker"
                        id="endDate"
                      />
                      <div class="addonset">
                        <img
                          src="/admin-assets/img/icons/calendars.svg"
                          alt="img"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                     <button id="generateReport" class="btn btn-submit btn-blue mt-4 px-4">
                      Generate Report
                    </button>
                </div>
              </div>
              <div class="row mt-3">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>order ID</th>
                        <th>Sales Amount</th>
                        <th>Discounts</th>
                        <th>coupons</th>
                        <th>Net Sales</th>
                        
                      </tr>
                    </thead>
                    <tbody id="salesTableBody">
                      
                      <!-- <tr class="bor-b1">
                        
                        <td>150</td>
                        <td>500</td>
                        <td>500</td>
                        <td>100</td>
                        <td>50</td>
                        <td>250</td>
                        </td> -->
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12 float-md-right">
                  <div class="total-order">
                    <h4 class="total">Sales Summary</h4>
                    <ul>
                      <li>
                        <h4>Total Order Amount</h4>
                        <h5 id="totalAmount">$ 0.00 (0.00%)</h5>
                      </li>
                      <li>
                        <h4>Total Offer Discount</h4>
                        <h5 id="totalOfferDiscount">$ 0.00</h5>
                      </li>
                      <li>
                        <h4>Total Coupon Discount</h4>
                        <h5 id="totalCouponDiscount">$ 0.00</h5>
                      </li>
                      <li class="total">
                        <h4>Total Sales Count</h4>
                        <h5 id="totalOrders">0</h5>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-lg-12">
                  <button id="downloadPdfBtn" class="btn btn-submit me-2">Download PDF</button>
                  <button id="downloadExcelBtn" class="btn btn-cancel">Download Excel</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center" id="paginationContainer"></ul>
    </nav>


    <script src="/admin-assets/js/jquery-3.6.0.min.js"></script>

    <script src="/admin-assets/js/feather.min.js"></script>

    <script src="/admin-assets/js/jquery.slimscroll.min.js"></script>

    <script src="/admin-assets/js/jquery.dataTables.min.js"></script>
    <script src="/admin-assets/js/dataTables.bootstrap4.min.js"></script>

    <script src="/admin-assets/js/bootstrap.bundle.min.js"></script>

    <script src="/admin-assets/plugins/select2/js/select2.min.js"></script>

    <script src="/admin-assets/js/moment.min.js"></script>
    <script src="/admin-assets/js/bootstrap-datetimepicker.min.js"></script>

    <script src="/admin-assets/plugins/sweetalert/sweetalert2.all.min.js"></script>
    <script src="/admin-assets/plugins/sweetalert/sweetalerts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>




    <script src="/admin-assets/js/script.js"></script>
    <script>
          function message(msg){
            if(msg){
                  Swal.fire({
                    positition: "center",
                    icon: "success",
                    title: msg,
                    showConfirmButton: false,
                    timer: 3000
                  }).then(() =>{
                    window.location.href = "/admin";
                  })
            }
          }

    </script>

    <script>
        $(function () {
          function toggleDateInputs() {
            const type = $("#reportType").val();
            const isCustom = type === "custom";
            $("#startDate").prop("disabled", !isCustom);
            $("#endDate").prop("disabled", !isCustom);
          }

          $("#reportType").on("change", toggleDateInputs);
          toggleDateInputs(); //init
           
          function loadReport(page = 1) {
            const type = $("#reportType").val();
            const startDate = $("#startDate").val();
            const endDate = $("#endDate").val();
            console.log("type, startDated, endDate",type, startDate,endDate);
            

            let url = `/admin/sales-report/data?type=${encodeURIComponent(type)}&page=${page}`;
             console.log("url", url);
            if(type === "custom") {
              if(!startDate || !endDate) {
                Swal.fire({
                  icon: "warning",
                  title: "Missing Dates",
                  text: "Please select both start and end dates for a custom report."
                });
                return;
              }
              url += `&startDate=${encodeURIComponent(startDate)}&endDate=${encodeURIComponent(endDate)}`;
              console.log("url", url);
              
            }

            $.ajax({
              url,
              method: "GET",
              dataType: "json",
              success: function (data) {
                if(!data.success) {
                  Swal.fire({
                    icon: "error",
                    title: "Failed to fetch report",
                    text: "Please try again later."
                  });
                  return;
                }
                console.log("data", data);
                

                //fill table
                const $tbody = $("#salesTableBody");
                $tbody.empty();

                if (data.orders && data.orders.length > 0) {
                  data.orders.forEach( function (order) {
                    const dateStr = new Date(order.createdAt).toLocaleDateString();
                    const row = `
                    <tr>
                      <td>${dateStr}</td>
                      <td>${order._id}</td>
                      <td>${order.salesAmount.toFixed(2)}</td>
                      <td>${(order.discountAmount || 0).toFixed(2)}</td>
                      <td>${(order.couponDiscount || 0).toFixed(2)}</td>
                      <td>${order.netSales.toFixed(2)}</td>
                      `;
                      $tbody.append(row);
                  });
                } else {
                  $tbody.append(`<tr><td colspan="6" class="text-center">No orders found for the selected range.</td><tr>`);
                    Swal.fire({
                      icon: "info",
                      title: "No Orders",
                      text: "No orders found for the selected range."
                    });   
                }

                //summary
                    $("#totalAmount").text(`₹ ${Number(data.report.totalAmount || 0).toFixed(2)}`);
                    $("#totalOfferDiscount").text(`₹ ${Number(data.report.totalOfferDiscount || 0).toFixed(2)}`);
                    $("#totalCouponDiscount").text(`₹ ${Number(data.report.totalCouponDiscount || 0).toFixed(2)}`);
                    $("#totalOrders").text(`${Number(data.report.totalOrders || 0)}`);

                     // Pagination
                // Pagination
                  const $pagination = $("#paginationContainer");
                  $pagination.empty();

                  if (data.totalPages > 1) {
                    // Previous
                    $pagination.append(`
                      <li class="page-item ${data.currentPage === 1 ? 'disabled' : ''}">
                        <a class="page-link" href="#" data-page="${data.currentPage - 1}">Previous</a>
                      </li>
                    `);

                    // Pages
                    for (let i = 1; i <= data.totalPages; i++) {
                      $pagination.append(`
                        <li class="page-item ${i === data.currentPage ? 'active' : ''}">
                          <a class="page-link" href="#" data-page="${i}">${i}</a>
                        </li>
                      `);
                    }

                    // Next
                    $pagination.append(`
                      <li class="page-item ${data.currentPage === data.totalPages ? 'disabled' : ''}">
                        <a class="page-link" href="#" data-page="${data.currentPage + 1}">Next</a>
                      </li>
                    `);
                  }

                
              },
              error: function (xhr, status, err) {
                console.error(err);
                Swal.fire({
                  icon: "error",
                  title: "Request Failed",
                  text: "Error fetching sales report."
                });
              }
            });
          }

          // Generate Report button click
          $("#generateReport").on("click", function () {
            loadReport(1); // always start from page 1
          });

          // Pagination click (delegated)
         // Pagination click (delegated)
          $("#paginationContainer").on("click", "a.page-link", function (e) {
              e.preventDefault();
              const page = $(this).data("page");
              if (page > 0) loadReport(page); // prevent negative pages
          });


          // download PDF

          $("#downloadPdfBtn").on("click", function (e) {
            e.preventDefault();

            const type = $("#reportType").val();
            const startDate = $("#startDate").val();
            const endDate = $("#endDate").val();

            const payload = { type };
            if (type === "custom") {
              payload.startDate = startDate;
              payload.endDate = endDate;
            }

            $.ajax({
              url: '/admin/sales-report/pdf', 
              type: "POST",
              contentType: "application/json",
              data: JSON.stringify(payload),
              xhrFields: {
                responseType: 'blob'
              },
              success: function (data) {
                //create a blob from the response
                var blob = new Blob([data], {type: "application/pdf"});
                var url = window.URL.createObjectURL(blob);

                //create hidden link and click it
                var a = document.createElement("a");
                a.href = url;
                a.download = "sales_report.pdf";
                document.body.appendChild(a);
                a.click();

                // cleanup
                a.remove();
                window.URL.revokeObjectURL(url);
              },
              error: function (xhr, status, error) {
              Swal.fire({
                  icon: "error",
                  title: "Download Failed",
                  text: "Unable to generate sales report PDF."
                });
                console.error(error);
              }
            });
          });

          //excel download
          $('#downloadExcelBtn').on("click", function (e) {
            e.preventDefault();

            const type = $('#reportType').val();
            const startDate = $('#startDate').val();
            const endDate = $('#endDate').val();

            const payload = {type};
            if(type === "custom") {
              payload.startDate = startDate;
              payload.endDate = endDate;
            }

            $.ajax({
              url: '/admin/sales-report/excel',
              type: "POST",
              contentType: "application/json",
              data: JSON.stringify(payload),
              xhrFields: {
                responseType: 'blob'
              },
              success: function (data) {
                // create a blob from response
                var blob = new Blob([data], { type:"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" });
                var url = window.URL.createObjectURL(blob);

                //create hidden link and click it
                var a = document.createElement("a");
                a.href = url;
                a.download = "sales_report.xlsx";
                document.body.appendChild(a);
                a.click();

                //cleanup
                a.remove();
                window.URL.revokeObjectURL(url);
              },
              error: function (xhr, status, error) {
                Swal.fire({
                  icon: "error",
                  title: "Download Failed",
                  text: "Unable to generate sales report Excel."
                });
                console.error(error);
              }
                
              })
            })
          })
    </script>
  </body>
</html>
