
.form-check-input:checked {
    background-color: #ff6600 !important;
    border-color: #ff6600 !important;
}

.form-check-input:focus {
    border-color: #ff6600 !important;
    box-shadow: 0 0 0 0.25rem rgba(239, 115, 33, 0.25) !important;
}
